<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Maraicher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css">
    
</head>
<body>
    
    <div class="container">
        <form method="POST" name="formulaire" action="" class="select_zone">
            <select class ="zone_lol">
                <option>Selectionnez une zone</option>
                {% for zone in zones %}
                <option>{{ zone }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">Confirmer</button>
        </form>

        <!-- <form method="" class="">
            <select class="planche">
                <option>Selectionnez une planche</option>
            </select>
        </form> -->
    </div>

</body>
</html>