.planche {
    display: none;
}

.serre {
    display: none;
}

select{
    display: flex;
    align-items: center;
    margin-top: 3vh;
}

button{
    margin-top: 3vh;
}

.preparation{
    display: none;
}

.recolte {
    display: none;
}

.couvert{
    display: none;
}

.card{
    padding: 1vh;
}

.add{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

