.planche {
    display: none;
}

.serre {
    display: none;
}

select{
    display: flex;
    align-items: center;
    margin-top: 3vh;
}

button{
    margin-top: 3vh;
}

.preparation{
    display: none;
}

.recolte {
    display: none;
}

.couvert{
    display: none;
}

.card{
    width: 19rem;
    height: 25rem;   
    padding: 1vh;
    margin-top: 3vh;
}

.add{
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 990px){
    .card{
        width: 30rem;
        height: 23rem;
    }
    .add{
        display: block;
        margin-left: 27%;
    }
}

@media screen and (max-width: 850px){
    .card{
        width: 20rem;
        height: 23rem;
    }
    .add{
        display: block;
        margin-left: 22%;
    }
}

@media screen and (max-width: 480px){
    .card{
        width: 19rem;
        height: 23rem;
    }
    .add{
        display: block;
        margin-left: 1%;
       
    }
}
